.body {
  background-color: #282c34;
}
.App {
  text-align: center;
  position: relative;
}
@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
